<div id="<%= dom_id article %>">
  <p>
    <strong>Creator name:</strong>
    <%= article.creator %>
  </p>

  <p>
    <strong>Article title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Article body:</strong>
    <%= article.body %>
  </p>

</div>
