default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  username: <%= ENV["POSTGRES_USER"] %>
  password: <%= ENV["POSTGRES_PASSWORD"] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: newsletterApplicaton_development
  username: #databaseRoleName
  password: #databasePassword
  host: localhost
  port: 5432

test:
  <<: *default
  database: newsletterApplicaton_test
  host: localhost
  port: 5432
  username: #databaseRoleName
  password: #databasePassword

production:
  <<: *default
  database: newsletterApplicaton_production
  username: newsletterApplicaton
  password: <%= ENV["NEWSLETTERAPPLICATON_DATABASE_PASSWORD"] %>
