
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: newsletterApplicaton_development
  port: 5432

test:
  <<: *default
  database: newsletterApplicaton_test
  port: 5432

production:
  <<: *default
  database: newsletterApplicaton_production
  username: newsletterApplicaton
  password: <%= ENV["NEWSLETTERAPPLICATON_DATABASE_PASSWORD"] %>
